# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
!terraform.tfvars.example

# Node.js
node_modules/
npm-debug.log*

# Secrets
.env
.env.*
secrets/

# OS
.DS_Store
Thumbs.db
